<script src="scripts/index.js"></script>

<h3>Input commanded</h4>
<form name="cmd" action="/documents/"  method="POST" encType="multipart/form-data">
    <input name="file" type="file" />
    <input type="submit" value="Submit">
</form>

<br>
<h3>Input raw</h1>
<form name="raw" action="/documents/raw" method="POST" encType="multipart/form-data">
    <input name="file" type="file" />
    <input type="submit" value="Submit">
</form>
<br>
<br>
  <h2>Input commands</h4>
    <table>
        <tr>
            <th>Command</th>
            <th>Example</th> 
            <th>Description</th> 
        </tr>
        <tr>
            <td>#[1-3]#</td>
            <td>#1# My text</td>
            <td>Adds a heading from 1 - 3 to the line next to it</td>
        </tr>
        <tr>
            <td>#[b,i,u]#</td>
            <td>#b#</td>
            <td>Writes line in bold/italic/underlined</td>
        </tr>
    </table> 